//BREAKPOINTS
$breakpoint-max: 1440px;
$breakpoint-xs: 440px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

//FONT-SIZE
$font-size-base: 62.5%;
// $font-size-xs: $font-size-base *
$font-size-xs: $font-size-base * 0.8;
$font-size-lg: $font-size-base * 1.2;
