.nav {
  margin: 4rem 8rem 0;
}

.nav .nav__list {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  padding: 0.625rem 0;
}

.nav .nav__item {
  padding: 0 1.5rem;
  font-size: var(--text-small);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-right: 1px solid var(--color-gray-2);
  border-left: 1px solid var(--color-gray-2);
  margin: 0 0.15rem;
}

.nav .nav__item a {
  color: var(--color-black);

  &:hover,
  &.active {
    color: var(--color-primary-main);
  }
}

a,
a:active,
a:visited {
  text-decoration: none;
}
