.nav {
    margin-top: 4rem;
    width: 100%;
}

.nav .nav__list {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: .5rem 0;
}

.nav .nav__item {
    padding: 0 1.5rem;
}