:root {
  // breakpoints
  --breakpoint-max: 1440px;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
}

.App {
  width: 100%;
}
