:root {
  --text-header-1: 6.4rem;
  --text-header-2: 4.8rem;
  --text-header-3: 4rem;
  --text-header-4: 2.4rem;
  --text-special-header: 1.8rem;

  --text-body: 1.6rem;

  --text-small: 1.2rem;
  --text-extra-small: 1.4rem;
  --text-extra-large: 16rem;
}

html {
  font-size: $font-size-base;

  //   @include responsive(sm) {
  //     font-size: $font-size-sm;
  //   }

  @include responsive(xs) {
    font-size: $font-size-xs;
  }
}

body {
  line-height: 1.4;
  color: var(--color-black);
}

/*
 40px - logo
 34px - store info normal
 44px - store info large
 -24px - featured products header
 18.75px - product name, filter price title
 16px - footer, price, view button, checkout progress title
 121px - store info largest
 13px - nav, product detail
 10px - cart number
*/
